
missing.csv
~$alysis_111118.docx
.Rhistory
.Rhistory
analysis.docx
.Rhistory
analysis_clean.docx
.Rhistory
.Rhistory
.Rhistory
analysis_revised_groups.docx
.Rhistory
.Rhistory
.Rhistory
.Rhistory
analysis_revised_groups_single_GAD_IAA.docx
.Rhistory
.Rhistory
.Rhistory
.Rhistory
analysis_revised_groups_files/figure-docx/setup-1.png
analysis_revised_groups_no_T1D.docx
analysis_revised_groups_files/figure-docx/plotnumeric-1.png
analysis_revised_groups_T1D_mult_combined.docx
